<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SALES</title>

    
    
    
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>


  
<div class="container p-3 my-3 border">
  <h1>sword</h1>
  <p>an ancint sword from the roman republic </p>
  <p>for 160 $</p>
  <img src="static/gladius.jpg" alt="the gladius " align=" middel" align= "top" width="100" height="100">
</div>

<div class="container p-3 my-3 bg-dark text-white">
  <h1> english longbow</h1>
  <p> a replica of the middevile era famous wepon.</p>
  <p>for 45 $</p>
  <img src="static/longbow.jpg" alt="the longbow " align=" middel" align= "top" width="100" height="100">
</div>

<div class="container p-3 my-3 bg-primary text-white">
  <h1>canon ball</h1>
  <p>the canon ball that destroyed the ship of blackbeard.</p>
  <p> for 70 $</p>
    <img src="static/cannonball.jpg" alt="boom boom " align=" middel" align= "top" width="100" height="100">

</div>


<a href='{{url_for("hello_world")}}'> get_back</a>
   <a href='{{url_for("cart")}}'> cart</a>



</body>





</body>
</html>